.links{
    width: auto;
    height: 40px;
    background-color: whitesmoke;
    
   
    

}
.links ul{
list-style: none;
display: flex;
float: right;
padding-bottom: 20px;




}
.links ul li{
    
    padding-left: 30px;
    padding-right: 20px;

}
.links ul li a {
    color: blueviolet;
    font-size: 20px;
    text-decoration: none;
}
h1{

    text-align: center;
    padding-left: 50px;
    
}

.img{
    height: 150px;
    width: 150px;
margin-left: 620px;
margin-top: 20px;
}
.ser{
    justify-content: center;
    margin-left: 200px;


}