body{
    margin: 0px;
    padding: 0px;
    background-color:white;
}
.link{
    width: 100%;
height: 30px;
    background-color:green;
    padding-bottom: 50px;
    
    

}
.link ul{
    list-style-type: none;
    display: flex;
    float: right;
}
.link ul li{
    
    padding: 25px;

}
.link ul li a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: white;
    
}
nav ul li a:hover,
nav ul li a.active
{
    color: white;
    border-bottom: 3px solid white;
}



.box{
    height: 500px;
    width: 400px;
    background-color:white;
    border-radius: 20px;
   
    margin-left: 100px;
    padding: 50px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
}
.in{
    width: 300px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 10px;


}

.int{
    height: 60px;
    width: 300px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
    
}
.right img{
    margin-left: 300px;
}
.inp{
    width: 200px;
    height: 40px;
    background-color:green;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 55px;
    border-color:white;
    border-style: solid;
    border-width: 3px;
    color: white;
    







}
.inp:hover{
    background-color: white;
    color: green;
}
.h{
    color:green;
    margin-top: 10px;
    margin-left: 80px;
}


hr{
    color: brown;
    background-color: brown;
}
.u{
    color: green;
    margin-left: 40px;
    font-size: 20px;
    
    



}
.pp{
    margin-left: 55px;
    padding: 2px;
}













